/.vscode
/6219fd96371ac969ba720041-foote-unscreen.gif
/6219fd96371ac969ba720041_footer_cropped-transcode.webm
/b-17 final challenge
/bubblegame
/image-removebg-preview (1).png
/index.html
/pngtree-astronaut-space-moon-cartoon-element-image_2300857.jpg
/pngtree-cartoon-cuboid-png-image_4615770-removebg-preview.png
/PROJECT1
/project1.css
/project1.html
/project1.js
/project2.css
/project2.html
/project2.js
/project3.css
/project3.html
/project3.js